
{% extends 'base.html' %}

{% block content %}


    
    <style>

        #header{
            color: purple;
            
        
        }
        #px1{
            color : red;
            
        }
        #px2{
            color : yellow;
            
        }
        #px3{
            color : green;
            
        }

        #px5{
            color : white;
            
        }
        
        h5.class{
            color: pink
        }
        p.px4{
            color : blue;
        }


        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            background-color: orange;
            width: 1000px; 
            margin: 0 auto; 
        }
        

        
        #custom-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px; 
        }

        #custom-table th,
        #custom-table td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
            background-color: aquamarine; /* warna isi tablenya*/
        }

        #custom-table td:last-child{
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
            background-color: pink; 

        }

        #custom-table th {
            background-color: red; /*warna isi table headernya*/
        }
       

        
       
        
        
        
    </style>



      

        <h1 id = "px1">Pengelolaan Stok Produk toko PBP</h1>


        <h5 id = "px2">Nama Aplikasi: </h5>
        <p id = "px3">{{ application }}</p>
        <h5 id = "header">Name: </h5>
        <p id = "px5"> {{ name }}<p>
        <h5 class  = "class">Class: </h5>
        <p class = "px4">{{ class }}<p>

        <div class = "card">
            <table id = "custom-table"> </table>
        </div>

        

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</button>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name"></input>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="col-form-label">Amount:</label>
                                <input type="number" class="form-control" id="amount" name="amount"></input>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            async function getItems() {
                return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
            }
        
            async function refreshItems() {
                document.getElementById("custom-table").innerHTML = ""
                const products = await getItems()
                let htmlString = `<tr> 
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                
                </tr>`
                products.forEach((item) => {
                    htmlString += `\n<tr>
                    <td>${item.fields.name}</td>
                    <td>${item.fields.amount}</td>
                    <td>${item.fields.description}</td>
                    <
                </tr>` 
                })
                
                document.getElementById("custom-table").innerHTML = htmlString
            }   
        
            refreshItems()
        
            function addItem() {
                fetch("{% url 'main:add_item_ajax' %}", {
                    method: "POST",
                    body: new FormData(document.querySelector('#form'))
                }).then(refreshItems)
        
                document.getElementById("form").reset()
                return false
            }
        
            document.getElementById("button_add").onclick = addItem
        
        
        </script>

        
        <br />

        <h5>Sesi terakhir login: {{ last_login }}</h5>
        
        <a href="{% url 'main:create_item' %}">
            <button>
                Add New Item
            </button>
        </a>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
{% endblock content %}